@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$colorWhite: #fafbfb;
$colorLiteGrey: #9199a5;
$colorDarkGrey: #565d68;
$colorBlack: #1e2026;
$colorLite: #bbc3c9;
$colorBlue: #0068ff;
$colorBrown: #b17e4c;

$colorBG: #f8f9fb;
$colorRed: #ec407a;
$colorGreen: #17c993;

$colorDanger: #d32f2f;
$colorWarning: #fb8c00;
$colorGood: #4caf50;

$layoutWidth: 1406px;
$layoutHeight: 852px;
$layoutBorder: 35px;

$sidebarWidth: 65px;
$sidebarHeight: 100%;

$sizeXSmall: 0.5em;
$sizeSmall: 0.625em;
$sizeMedium: 0.75em;
$sizeLarge: 1em;
$sizeXLarge: 1.5em;
$sizeXXLarge: 3em;

.main-dashboard {
	font-family: "Open Sans", sans-serif;
	// background: $colorLite;
	text-align: center;
}

.love-text {
	margin-top: 20px;
	color: $colorWhite;
	line-height: 1.2em;
	.desc {
		font-size: 0.75em;
		color: $colorDanger
	}
}

.second-container {
	// border: 4px solid $colorLiteGrey;
	// border-radius: $layoutBorder;

	margin: 0 auto;
	// margin-top: 20px;
	// margin-bottom: 20px;

	// height: $layoutHeight;
	// width: $layoutWidth;

	position: relative;
	// z-index: 100;

	.content {
		background: $colorWhite;
		display: flex;
		
		border: 23px solid $colorBlack;
	   border-radius: $layoutBorder - 3px;

		height: $layoutHeight - 46px;
		width: $layoutWidth - 46px;
	}
}

.main-content {
	width: 100%;
	height: 100%;
	// background: lighten($colorLiteGrey, 30%);
	
	border-top-right-radius: $layoutBorder - 26px;
	border-bottom-right-radius: $layoutBorder - 26px;
	
	.app {
		display: flex;
		flex-direction: column;
		.app-content {
			// margin: 20px;
			// background: $colorWhite;
			// border-radius: 5px;
			// height: 716px;

			header {
				margin: 20px;
				display: flex;
				justify-content: space-between;

				.searchbox {
					display: flex;
					padding: 10px;
					background: lighten($colorLiteGrey, 33%);
					border-radius: 5px;
					width: 200px;
					.icon {
						color: $colorLiteGrey;
						margin: 0 5px;
					}

					input.search-text {
						border: none;
						background: inherit;
						font-size: $sizeMedium;
						font-weight: 600;
						outline: none;						
					}
				}
			}
		}
	}
}

.app-content {
	header .app-list-options {
		display: flex;
		justify-items: center;
		align-items: center;

		.sort-dropdown {
			display: flex;
			border: 1px solid $colorLite;
			border-radius: 5px;
			padding: 12px;
			color: $colorLite;
			font-size: $sizeMedium;
			font-weight: 600;
			.by,
			i {
				color: $colorBlack;
				margin-left: 5px;
			}
			.drop {
				border-left: 1px solid $colorLite;
				margin-left: 10px;
			}
		}

		.icon {
			margin: 0 10px;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
			position: relative;
			color: $colorLite;
			
			&:first-child {				
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			
			&:last-child {				
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			
			&.selected {
				background: lighten($colorDarkGrey, 50%);
				color: lighten($colorDarkGrey, 20%);
			}
		}

		.display-group {
			display: flex;
			.icon {
				margin-right:0;
				margin-left: 0;
			}
		}
	}
}

.projects {
	list-style: none;

	display: flex;
	flex-wrap: wrap;
    padding-right: 2rem;
    
	// margin: 10px;
	// height: 630px;
	// overflow-y: scroll;

	.project-item {
		padding: 16px;
		margin: 12px;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;

		text-align: left;

		border-radius: 5px;
		box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
		user-select: none;
		
		width: 23.3%;
		.logo-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				border-radius: 8px;
				display: block;
			}

			.icon {
				color: $colorLite;
			}
		}

		.title-row {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			margin: 20px 0 10px;

			h3 {
				font-weight: bold;
			}

			.links {
				display: flex;
				align-content: center;

				padding: 8px 0;

				color: lighten($colorDarkGrey, 20%);
				font-size: $sizeMedium;

				.icon {
					margin-right: 5px;
				}

				a {
					color: lighten($colorDarkGrey, 20%);
					text-decoration: none;
				}
			}
		}

		.desc-row {
			color: lighten($colorDarkGrey, 20%);
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}

		.progress-row {
			display: flex;
			flex-direction: column;
			margin: 20px 0;

			p.value-label {
				display: block;
			}

			p[data-value] {
				position: relative;
			}

			p[data-value]:after {
				content: attr(data-value) "%";
				color: lighten($colorDarkGrey, 20%);
				font-size: 12px;
				position: absolute;
				display: block;
				right: -10px;
			}

			progress {
				display: block;
				position: relative;
				width: 100%;
				margin-top: 20px;
				-webkit-appearance: none;
				height: 6px;
			}

			progress::-webkit-progress-bar {
				background-color: lighten($colorLite, 10%);
				border-radius: 5px;
			}

			::-webkit-progress-value {
				background-color: $colorGreen;
				border-radius: 5px;
			}
			
			.low::-webkit-progress-value {
				background-color: $colorRed;				
			}
		}

		.footer-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.days {
				padding: 8px 5px;
				border-radius: 4px;
				background: $colorLite;
				font-size: 12px;

				color: $colorDarkGrey;
				background: lighten($colorDarkGrey, 50%);

				&.good {
					color: $colorGood;
					background: lighten($colorGood, 50%);
				}

				&.warning {
					color: $colorWarning;
					background: lighten($colorWarning, 40%);
				}

				&.danger {
					color: $colorDanger;
					background: lighten($colorDanger, 40%);
				}
			}

			.users {
				img {
					border-radius: 3px;
					margin: 0 2px;
				}
			}
		}
	}
}